<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212142120108-r6fe79otjriuhkucupk877a0ok00eu43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212142120108-r6fe79otjriuhkucupk877a0ok00eu43</string>
	<key>API_KEY</key>
	<string>AIzaSyBPqaqomMSwUkC8B89vxoD6ijCp9BrElyI</string>
	<key>GCM_SENDER_ID</key>
	<string>212142120108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bk1031.cfTracker</string>
	<key>PROJECT_ID</key>
	<string>cf-tracker-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>cf-tracker-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212142120108:ios:c85e9a0c32fcf10f9bd309</string>
	<key>DATABASE_URL</key>
	<string>https://cf-tracker-pro.firebaseio.com</string>
</dict>
</plist>